@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

.content {
  background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% );
  background-size: cover;
  height: 150vw;
  display: grid;
  grid-template-columns: 1fr;


}

.latest {

  display: flex;
  justify-content: center;
  font-size: 6vw;
  color: whitesmoke;
  font-weight: 800;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: -8vw;
  margin-bottom: -19vw;


}

.project1-3 {
  margin: 5vw 3vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
  border-bottom: 1px solid rgb(65, 58, 58);
  height: 50vw;
 


}
.carousel{
  z-index: 80;
}

.projects-img {
  width: 39vw;
  height: 20vw;
  margin: 1.5vw 4vw;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #101010;
}

.projects-img-r {
  width: 39vw;
  height: 20vw;
  margin: 1.5vw;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #101010;
}

.project2-4 {
  margin: 2vw 3vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
  border-bottom: 1px solid rgb(65, 58, 58);



}

.project-title {
  font-size: 2.5vw;
  font-weight: 800;
  color: whitesmoke;
  text-align: center;
  margin-top: 1.5vw;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: underline;

}

.built {
  color: whitesmoke;
  font-size: 1.5vw;
  font-weight: 800;
  text-align: center;
  margin-top: 3vw;
  font-family: 'Roboto Condensed', sans-serif;


}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1vw 2vw;
  grid-gap: 1vw;
  justify-items: center;
}

.techs {
  width: 3vw;
  height: 3vw;
  border-radius: 10px;

}

.ruby {
  width: 2.2vw;
  height: 3vw;
  border-radius: 10px;
}

.rails {
  width: 4.3vw;
  height: 3.5vw;
  border-radius: 10px;
}

.btn {
  background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB 51%, #1F1C2C 100%);
 


  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  width: 12.5vw;
  height: 4vw;
  font-size: 0.9vw;
  text-decoration: none;
  padding-top : 1.3vw;
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}


.btn-container {
  display: flex;
  
  justify-content: space-around;
  margin-top: 6vw;


}

@media  screen and  (max-width: 780px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320vw;

  }
  .latest {
display: none;
  }
  .projects{ 
margin-top: 8vw;
  }
  .project-title{
    font-size: 4vw;
  }

  .mob{
    color: black;
    position: relative;
    bottom: 35vw;
  }

  .third{ 
    position: relative;
    bottom: -10vw;
  }

  .built { 
    display: none;
  }
  .content-container{
    display: none;
  }
  .project1-3{
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .project2-4{
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}
  