.contact {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #28182e;
height: 46vw;
 }
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #dc234c;
    font-size: 1.5vw;
    font-weight: 800;
    text-align: center;
    margin-top: 7vw;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 3vw;
    color: #dc234c;
    font-size: 1.5vw;
    font-weight: 800;
    text-align: center;
    border-radius: 0.4rem;
    border: 1px solid rgb(43, 39, 39);
    background-color: rgb(244, 229, 229);
}
.text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 10vw;
    color: #dc234c;
    font-size: 1.5vw;
    font-weight: 800;
    text-align: center;
    border-radius: 0.4rem;
    border: 1px solid rgb(43, 39, 39);
    background-color: rgb(244, 229, 229);
}
.button {
width: 10vw;
height: 4vw;
border-radius: 0.4rem;
border: 1px solid rgb(43, 39, 39);
background-color:  #dc234c;
color: #28182e;;
font-size: 1.5vw;
font-weight: 800;
text-align: center;
margin-top: 2vw;
cursor: pointer;

}
.button:hover {
    background-color: rgb(235, 204, 204);
    color: rgb(43, 39, 39);
}
img{
    width: 3.5vw;
    margin-top: 1vw;
 
}
.mail-gone {
    animation-name: mail-gone;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes mail-gone {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 30vw;
    }
    75% {
        margin-left: 50vw;
    }
    100% {
        margin-left: 100vw;

    }
}
.back-div{

    width: 99vw;
    height: 3vw;
}
.back {
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    cursor: pointer;
    color: whitesmoke;
    font-size: 1.5vw;
}
.back:hover{
    color: rgb(43, 39, 39);
    font-size: 1.7vw ;
}

@media screen and (max-width: 790px) {
    .contact {
        height: 280vw;
       

    }
    .contact-form {
        font-size: 3vw;
        height: 75vw;
        width: 98vw;
        margin-top: -150vw;
        }
    .inputs {
        width: 80%;
        height: 22vw;
        font-size: 3vw;
        margin: 3vw 0;
    }
    .text-area {
        width: 80%;
        height: 45vw;
        font-size: 3vw;
        margin: 3vw 0;
    }
    .button {
        width: 60vw;
        height: 30vw;
        font-size: 3vw;
        cursor: pointer;
        margin: 3vw 0;
    }
    img {
        width: 7vw;
    }
    .tosti {
        background: #d83737;
        border-radius : 3%;
        color: whitesmoke;
        height: 25vw;
    }
.back {
    width: 10vw;
    height: 10vw;
   margin: 5vw auto;
    cursor: pointer;
    color: whitesmoke;
}
.back:hover{
    color: rgb(43, 39, 39);
}
}

    
