@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

@keyframes appear-from-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-from-right {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes tilt-right {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.content {
  background-color: #28182e;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height:70vw;
  margin-top: 4vw;
}

.cards-container {
  height: 32vw;
  width: 78%;
  margin-left: 10vw;
  animation: appear-from-right 1s ease-in-out 0.1s;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  position: relative;
  width: 21vw;
  height: 25vw;
  background-color: #dc234c;
  border-radius: 10px;
  margin: 1vw;
  overflow: hidden;
}

.card:hover {
  animation: tilt-right 0.8s ease-in-out;
  scale: 1.1;
  background-color: #e91e63;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover::before {
  filter: blur(1px);
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/task-1.jpeg');
  background-size: 21vw 25vw;
  background-position: center;
  filter: blur(4px);
  z-index: 1;
}

.card .title {
  position: relative;
  top: 3vw;
  z-index: 2;
  color: #dc234c;
  text-align: center;
  margin-top: 10px;
  
}
.card-soc {
  position: relative;
  width: 21vw;
  height: 25vw;
  background-color: #dc234c;
  border-radius: 10px;
  margin: 1vw;
  overflow: hidden;
}

.card-soc:hover {
  animation: tilt-right 0.8s ease-in-out;
  scale: 1.1;
  background-color: #e91e63;
  transition: 0.5s;
  cursor: pointer;
}

.card-soc:hover::before {
  filter: blur(1px);
}

.card-soc::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/first.png');
  background-size: 21vw 25vw;
  background-position: center;
  filter: blur(4px);
  z-index: 1;
}

.card-soc .title {
  position: relative;
  top: 3vw;
  z-index: 2;
  color: #dc234c;
  text-align: center;
  margin-top: 10px;
}

.card-scrap {
  position: relative;
  width: 21vw;
  height: 25vw;
  background-color: #dc234c;
  border-radius: 10px;
  margin: 1vw;
  overflow: hidden;
}

.card-scrap:hover {
  animation: tilt-right 0.8s ease-in-out;
  scale: 1.1;
  background-color: #e91e63;
  transition: 0.5s;
  cursor: pointer;
}

.card-scrap:hover::before {
  filter: blur(1px);
}

.card-scrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/scraper-1.png');
  background-size: 21vw 25vw;
  background-position: center;
  filter: blur(4px);
  z-index: 1;
}

.card-scrap .title {
  position: relative;
  top: 3vw;
  z-index: 2;
  color: #dc234c;
  text-align: center;
  margin-top: 10px;
}

.content h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4.7vw;
  color: #dc234c;
  margin-left: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;

}

.task-manager {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 33vw;
  border-bottom: 1px solid rgb(187, 184, 184);


}

.carousel-task {
  animation: appear-from-left 1s ease-in-out 0.1s;
  width: 60%;

}

.neon-text {
  font-size: 1.1vw;
  color: #dc234c;
}

.task-img {
  height: 16vw;
  width: 38vw;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.pills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vw;

  height: 3vw;

}

.pill {
  border: 1px solid whitesmoke;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 1vw;
  color: whitesmoke;
  margin: 0 0.3vw;
  cursor: pointer;


}

.pill:hover {
  background-color: whitesmoke;
  color: black;
  transition: 0.5s;
  scale: 1.1;
}

.task-content {

  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  margin-right: 1vw;
  animation: appear-from-right 1s ease-in-out 0.1s;
}

.task-content-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15vw;
}

.task-content-upper h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2vw;
  color: whitesmoke;
  margin-left: 1vw;
  margin-top: 1.5vw;
  margin-bottom: 1vw;
  text-align: center;
}

.task-content-upper p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3vw;
  color: rgb(233, 202, 202);
  margin-top: 1vw;
  margin-bottom: 1vw;
  text-align: justify;
  margin-left: 2vw;
  margin-right: 2vw;
}

.task-content-downer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.task-btns {
  display: flex;
  width: 38vw;
  justify-content: space-around;
  margin-top: 1vw;

}

.task-btns a {
  text-decoration: none;
  color: #da234c;
  font-family: 'sans-serif';
  font-weight: 600;
  font-size: 1vw;
  border: 1px solid #282828;
  padding: 0.5vw;
  border-radius: 8px;
  cursor: pointer;
  width: 8vw;
  text-align: center;
  background-color: #1c182d;
}

.task-btns a:hover {
  color: whitesmoke;
  transition: 0.5s;
  scale: 1.1;
}

.socorros-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 36vw;
  border-bottom: 1px solid rgb(187, 184, 184);
}

.socorros-content {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  margin-right: 1vw;
  animation: appear-from-left 1s ease-in-out 0.1s;
  margin-top: 2.4vw;

}

.socorros-content h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4vw;
  color: whitesmoke;
  margin-left: 1vw;
  margin-bottom: 1vw;
  margin-top: 3vw;
  text-align: center;
}

.socorros-content p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.4vw;
  color: whitesmoke;
  margin-top: 1vw;
  margin-bottom: 1vw;
  text-align: justify;
  margin-left: 2vw;
  margin-right: 2vw;
}

.socorros-img {
  height: 25vw;
  width: 40vw;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.carousel-socorros {
  animation: appear-from-right 1s ease-in-out 0.1s;
  margin-top: 3vw;

}

.pills-socorros {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vw;

  height: 3vw;

}



@media screen and (max-width: 768px) {
  .content {
    height: 290vw;
    margin-bottom: 2vw;
    position: relative;
    bottom: 4vw;

  }

  .content h1 {

    font-size: 9vw;
    margin-left: 2vw;
    margin-top: 3vw;
    margin-bottom: 8vw;
    margin-top: 5vw;

  }

  .task-manager {
    display: flex;
    flex-direction: column;
    height: 130vw;
    border-bottom: 1px solid rgb(187, 184, 184);


  }

  .task-img {
    height: 50vw;
    width: 70vw;
  }

  .pills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3vw;
    margin-left: 2vw;
    margin-right: 2vw;




  }

  .pill {
    border: 1px solid whitesmoke;
    width: 10vw;
    font-size: 2vw;
    height: 7vw;


  }

  .task-content h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 7vw;
    color: whitesmoke;
    margin-left: 1vw;
    margin-top: 5vw;
    margin-bottom: 1vw;
    text-align: center;
  }

  .task-content p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3vw;
    color: whitesmoke;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: justify;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .task-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 2.3vw;
    margin-right: 2.3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .task-btns a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'sans-serif';
    font-weight: 600;
    font-size: 3vw;
    border: 1px solid #282828;
    padding: 0.5vw;
    border-radius: 8px;
    cursor: pointer;
    width: 20vw;
    text-align: center;
    background-color: #282828;
    margin-top: 3vw;
  }

  .socorros-cont {
    display: flex;
    flex-direction: column;
    height: 130vw;
    border-bottom: 1px solid rgb(187, 184, 184);
  }

  .socorros-content {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 1vw;
    animation: appear-from-left 1s ease-in-out 0.1s;
    margin-top: 2.4vw;
  }

  .socorros-content h2 {
    font-size: 7vw;
    color: whitesmoke;
    margin-left: 1vw;
    margin-bottom: 1vw;
    margin-top: 5vw;
    text-align: center;
  }

  .socorros-content p {
    font-size: 3vw;
    color: whitesmoke;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: justify;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .socorros-img {
    height: 50vw;
    width: 70vw;

  }
}

.task-manager-active {
  display: flex;
  flex-direction: column;
  height: 55vw;
  width: 80%;
  position: relative;
  bottom: 41vw;
  background-color: #491447;
  z-index: 2;
  left: 4vw;
  border: 5px solid whitesmoke;
  border-radius: 25px;
  border-color: #dc234c;
  color: #dc234c;
  cursor: pointer;
 



}

.task-closed {
  display: none;
}