.footer{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background:   #282828  ;
    height: 3vw;
    width: 100vw;
    color: whitesmoke;
    text-align: center;
    font-size: 1.4vw;
    font-weight: 800;
    

}

.copy {
    margin-right: 1.5vw;
    margin-top: 0.6vw;
}

@media screen and (max-width: 790px) {
    .footer {
   display: none;
    }
}